<!--The content below is only a placeholder and can be replaced.-->


<h2>Bootstrap Grid with Angular </h2>
<div class="container-fluid">
    <div class="hero-unit">
    <div class="row">
      <div class="span3" style="background-color: gray">
        <div class="text-center">
        grid1
      </div>  
    </div>
      <div class="span3" style="background-color: gray">
        <div class="text-center">
        grid2
      </div>  
    </div>
      <div class="span3" style="background-color: gray">
      <div class="text-center">
        grid3
      </div>  
      </div>
    </div>
  </div>
  <p>
    Grid with Angular Material Design
  </p>
  <mat-grid-list cols="2" rowHeight="5:1">
    <mat-grid-tile>Grid One</mat-grid-tile>
    <mat-grid-tile>Grid Two</mat-grid-tile>
  </mat-grid-list>